<!DOCTYPE HTML>
<html>
    <head>
        <title>Admin | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/admin.css">
        <link rel="stylesheet" type="text/css" href="/css/header.css">
        <link rel="shortcut icon" href="/images/winston-icon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>

    <%- include ../partials/header %>

    <div id="page-container">
        <div id="side-bar">
            <a class="nav-button selected" onclick="showpage(0)">Dashboard</a>
            <a class="nav-button" onclick="showpage(1)">Contests</a>
            <a class="nav-button" onclick="showpage(2)">Entries</a>
            <a class="nav-button" onclick="showpage(3)">Results</a>
            <a class="nav-button" onclick="showpage(4)">Activity</a>
            <a class="nav-button" onclick="showpage(5)">Controls</a>
        </div>

        <div class="page-content" id="dashboard-page">
            <h1 id="content-header">Dashboard</h1>

            <div class="preview-container standard" style="height: 100px">
                <p class="db-header">Number of entries</p>
                <div class="preview-content">
                    <p><%= entry1[0].count %></p>
                </div>
            </div>

            <div class="preview-container standard" style="height: 100px">
                <p class="db-header">Number of reviewed entries</p>
                <div class="preview-content">
                    <p><%= reviewed1[0].count %></p>
                </div>
            </div>
        </div>

        <div class="page-content" id="contests-page">
            <h1 id="content-header">Contests</h1>
            <% contests1.forEach((c) => { %>
                <div class="preview-container standard">
                    <p class="db-header"><%= c.contest_name + " - #" + c.contest_id %></p>
                    <div class="preview-content">
                        <a href="<%= c.contest_url %>" target="_blank"><img src="<%= c.contest_url + "/latest.png" %>"></a>
                        <p>Start: <%= c.date_start %></p>
                        <p>End: <%= c.date_end %></p>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="page-content" id="entries-page">
            <h1 id="content-header">Entries</h1>
            <ol id="entries-list"><% entries1.forEach((e) => { %>
                <li><span><%= e.entry_title %></span> created on <em><%= e.entry_created %></em></li>
            <% }); %></ol>
        </div>

        <div class="page-content" id="results-page">
            <h1 id="content-header">Results</h1>

        </div>

        <div class="page-content" id="activity-page">
            <h1 id="content-header">Activity</h1>
            <p>Coming soon.</p>
        </div>

        <div class="page-content" id="controls-page">
            <h1 id="content-header">Controls</h1>
            <div class="preview-container warning">
                <h4 class="db-header">Update entries</h4>
                <div class="preview-content">
                    <p>Be careful! These settings must be used with care, ask Jett before clicking these buttons.</p>
                    <button type="button" class="button red" id="update-entries-button">Update Entries</button>
                </div>
            </div>
        </div>
    </div>

    </body>
    <script src="/js/admin.js"></script>
</html>
