<!DOCTYPE HTML>
<html>
    <head>
        <title>Admin | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
        <link rel="stylesheet" type="text/css" href="/static/css/header.css">
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>

    <%- include ../partials/header %>

    <div id="page-container">
        <div id="side-bar">
            <a class="nav-button selected" onclick="showpage(0)">Dashboard</a>
            <a class="nav-button" onclick="showpage(1)">Contests</a>
            <a class="nav-button" href="/entries/1">Entries</a>
            <a class="nav-button" href="/results/1">Results</a>
            <a class="nav-button" onclick="showpage(4)">Activity</a>
            <a class="nav-button" onclick="showpage(5)">Controls</a>
            <%if (is_admin) { %>
				      <a class="nav-button" onclick="showpage(6)">Users</a>
			      <% } %>
        </div>

        <div class="page-content" id="dashboard-page">
            <h1 id="content-header">Dashboard</h1>

            <div class="preview-container standard" style="height: 100px">
                <p class="db-header">Your reviewed entries for current contest:</p>
                <div class="preview-content">
                    <p class="large-stat"><%= reviewedCount %> / <%= entryCount %></p>
                </div>
            </div>
            <div class="preview-container standard" style="height: 100px">
                <p class="db-header">Total reviewed entries for current contest:</p>
                <div class="preview-content">
                    <p class="large-stat"><%= totalEvaluationsCount %> / <%= totalEvaluationsNeeded %></p>
                </div>
            </div>
        </div>

        <div class="page-content" id="contests-page">
            <h1 id="content-header">Contests</h1>
            <%if (is_admin) { %>
				      <h4 id="add-contest-btn" class="admin-btn" onclick="showpage(9)">Add Contest</h4>
			      <% } %>

            <% contests.forEach((c) => { %>
                <% if (c.current) { %>
                    <div class="preview-container current-contest">
                <% } else { %>
                    <div class="preview-container standard">
                <% } %>
                    <p class="db-header"><%= c.contest_name + " - #" + c.contest_id %></p>
                    <div class="preview-content">
                        <a href="<%= c.contest_url %>" target="_blank">
                            <img class="preview-thumb" src="<%= c.contest_url + "/latest.png" %>">
                        </a>
                        <p>Start: <%= c.date_start %></p>
                        <p>End: <%= c.date_end %></p>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="page-content" id="entries-page">
            <p>If you're seeing this, please refresh the page.</p>
        </div>

        <div class="page-content" id="results-page">
            <h1 id="content-header">Results</h1>

        </div>

        <div class="page-content" id="activity-page">
            <h1 id="content-header">Activity</h1>
            <p>Coming soon.</p>
        </div>

        <div class="page-content" id="controls-page">
            <h1 id="content-header">Controls</h1>
            <div class="preview-container warning">
                <h4 class="db-header">Update entries</h4>
                <div class="preview-content">
                    <p>Be careful! These settings must be used with care, ask Jett before clicking these buttons.</p>
                    <button type="button" class="button red" id="update-entries-button">Update Entries</button>
                </div>
            </div>
        </div>

        <div class="page-content" id="users-page">
            <h1 id="content-header">Users</h1>
            <h4 id="add-user-btn" class="admin-btn" onclick="showpage(7)">Add User</h4>

            <!-- whitelisted_kaids box -->
            <div class="preview-container wide-box standard">
                <p class="db-header">Whitelisted Kaids</p>
                <div class="preview-content">
                  <table id="whitelisted-kaids">
                    <% whitelisted_kaids.forEach((c) => { %>
                      <tr>
                        <td><%= c.kaid %></td>
                        <td><img class="delete-icon" onclick="removeWhitelistedUser('<%= c.kaid %>')" src="../static/images/delete-icon.png"></td>
                      </tr>
                    <% }); %>
                  </table>
                </div>
            </div>

            <!-- User boxes -->
              <% evaluators.forEach((c) => { %>
                <div class="preview-container standard">
                    <p class="db-header"><%= c.evaluator_name %> <span class="edit-user-btn" onclick="showpage(8); edituser(<%=c.evaluator_id %>, '<%= c.evaluator_name %>', '<%= c.evaluator_kaid %>', <%= c.is_admin %>, <%= c.account_locked %>);">Edit</span></p>
                    <div class="preview-content">
                        <a href="<%= 'https://www.khanacademy.org/profile/' + c.evaluator_kaid %>" target="_blank">Profile</a>
                        <p><span class="bold">ID:</span> <%= c.evaluator_id %></p>
                        <p><span class="bold">KAID:</span> <%= c.evaluator_kaid %></p>
                        <% if (c.account_locked) { %>
                			    <p><span class="bold">Status:</span> <span class="red">Deactivated</span></p>
            			      <% } else { %>
                			    <p><span class="bold">Status:</span> <span class="green">Active</span></p>
            			      <% } %>
                          <p><span class="bold">Permission Level:</span>
                            <% if (c.is_admin) { %>
                			        Admin
            			          <% } else { %>
                			        Standard User
            			          <% } %>
                          </p>
                    </div>
                </div>
            <% }); %>
        </div>

        <!-- Add User Form -->
        <div class="page-content" id="add-user-page">
        	<h1 id="content-header">Add User</h1>
        	<div class="form-container">

            <form id="add-user-form" method="post" action="/api/whitelistUser" target="_self">
  					<div class="row">
    					<div class="col-25">
      						<label for="user_kaid">User's KAID</label>
    					</div>
   						<div class="col-75">
      						<input type="text" id="kaid" name="kaid" placeholder="kaid_xxxxxxxxxx">
    					</div>
  					</div>
  					<div class="row">
      					<input type="submit" value="Save">
  					</div>
  				</form>
          </div>
        </div>

        <div class="page-content" id="edit-user-page">
        	<h1 id="content-header">Edit User</h1>
        	<div class="form-container">
            <form id="edit-user-form" method="post" action="/api/editUser" target="_self">
  					  <div class="row">
      				  <input type="hidden" id="edit_user_id" name="edit_user_id">
  					  </div>
  					  <div class="row">
    					  <div class="col-25">
      						<label for="edit_user_name">User's Name</label>
    					  </div>
    					  <div class="col-75">
      						<input type="text" id="edit_user_name" name="edit_user_name">
    					  </div>
  					  </div>
  					  <div class="row">
    					  <div class="col-25">
      						<label for="edit_user_kaid">User's KAID</label>
    					  </div>
   						  <div class="col-75">
      						<input type="text" id="edit_user_kaid" name="edit_user_kaid" placeholder="Remove 'kaid_' from ID">
    					  </div>
  					  </div>
  					  <div class="row">
    					  <div class="col-25">
      						<label for="edit_user_is_admin">Make user an administrator</label>
    					  </div>
    					  <div class="col-75">
      						<input type="checkbox" id="edit_user_is_admin" name="edit_user_is_admin" value="true">
    					  </div>
  					  </div>
  					  <div class="row">
    					  <div class="col-25">
      						<label for="edit_account_locked">Is account locked</label>
    					  </div>
    					  <div class="col-75">
      						<input type="checkbox" id="edit_account_locked" name="edit_account_locked" value="true">
    					  </div>
  					  </div>
  					  <div class="row">
      					<input type="submit" value="Save">
  					  </div>
  				  </form>
        	</div>
        </div>

        <!-- Add Contest Form -->
        <div class="page-content" id="add-contest-page">
        	<h1 id="content-header">Add Contest</h1>
        	<div class="form-container">
            <form id="add-contest-form" method="post" action="/api/addContest" target="_self">
  					  <div class="row">
    					  <div class="col-25">
      						<label for="contest_name">Contest Name</label>
    					  </div>
    					  <div class="col-75">
      						<input type="text" id="contest_name" name="contest_name" value="Contest: ">
    					  </div>
  					  </div>
  					  <div class="row">
    					  <div class="col-25">
      						<label for="contest_url">Contest URL</label>
    					  </div>
   						  <div class="col-75">
      						<input type="text" id="contest_url" name="contest_url" placeholder="URL">
    					  </div>
  					  </div>
  					  <div class="row">
    					  <div class="col-25">
      						<label for="contest_author">Author</label>
    					  </div>
    					  <div class="col-75">
      						<input type="text" id="contest_author" name="contest_author" value="">
    					  </div>
  					  </div>
  					  <div class="row">
    					  <div class="col-25">
      						<label for="contest_start_date">Start Date</label>
    					  </div>
    					  <div class="col-75">
      						<input type="text" id="contest_start_date" name="contest_start_date" value="YYYY-MM-DD">
    					  </div>
  					  </div>
  					  <div class="row">
    					  <div class="col-25">
      						<label for="contest_end_date">End Date</label>
    					  </div>
    					  <div class="col-75">
      						<input type="text" id="contest_end_date" name="contest_end_date" value="YYYY-MM-DD">
    					  </div>
  				  	</div>
  					  <div class="row">
      					<input type="submit" value="Save">
  					  </div>
  				  </form>
          </div>
        </div>

    </div> <!-- Page container -->

    </body>
    <script src="/static/js/general.js"></script>
    <script src="/static/js/admin.js"></script>
</html>
