<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Entries | Challenge Council</title>
    <link rel="stylesheet" type="text/css" href="/static/css/entries.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <%- include ../partials/header %>

    <div id="page-container">
        <div id="side-bar">
            <% contests.forEach((c) => { %>
            <a class="nav-button" href="<%= '/entries/' + c.contest_id%>" %>">
                <i class="fas fa-trophy"></i>
                <p>
                    <%= c.contest_name%>
                </p>
            </a>
            <% }); %>
        </div>

        <div class="page-content" id="entry-list">
            <div id="content-header">
                <h2>
                    Entries for
                    <%= contests[contest_id - 1].contest_name %>
                </h2>
            </div>

            <div class="previews-container">
                <div class="preview col-12 standard">
                    <div class="db-header">
                        <p>Entry stats</p>
                    </div>
                    <div class="preview-content">
                        <table>
                            <thead>
                                <th style="width: 3%">Entry ID</th>
                                <th style="width: 10%">Title</th>
                                <th style="width: 10%">Author</th>
                                <th style="width: 10%">Skill Level</th>
                                <th style="width: 15%">Created</th>
                                <%if (is_admin) { %>
                                <th style="width: 3%">Actions</th>
                                <% } %>
                            </thead>
                            <tbody>
                                <% entries.forEach((a, idx) => { %>
                                <tr id="<%= a.entry_id%>">
                                    <td>
                                        <%= a.entry_id%>
                                    </td>
                                    <td><a href='<%= a.entry_url %>' target='_blank'>
                                            <%= a.entry_title %></a></td>
                                    <td>
                                        <%= a.entry_author %>
                                    </td>
                                    <td id="<%= a.entry_id + '-level'%>">
                                        <div class="view-entry-level">
                                            <%= a.entry_level %>
                                        </div>
                                        <div class="edit-entry-level">
                                            <form class="edit-entry-level-form" method="post" action="/api/editEntry">
                                                <input type="hidden" name="contest_id">
                                                <input type="hidden" name="entry_id">
                                                <select name="edited_level">
                                                    <option value="tbd">TBD</option>
                                                    <option value="Beginner">Beginner</option>
                                                    <option value="Intermediate">Intermediate</option>
                                                    <option value="Advanced">Advanced</option>
                                                </select>
                                                <button class="check-icon">
                                                    <i class="fas fa-check"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <%= a.entry_created %>
                                    </td>
                                    <% if (is_admin) { %>
                                    <td id="<%= a.entry_id + '-actions'%>">
                                        <i class="control-btn far fa-edit" onclick="editEntry(<%= a.entry_id %>, <%= idx %>, <%= contest_id %>)"></i>
                                        <i class="control-btn red far fa-trash-alt" onclick="deleteEntry(<%= a.entry_id %>, <%= contest_id %>)"></i>
                                    </td>
                                    <% } %>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div> <!-- Page content -->

    </div> <!-- Page container -->
</body>
<script src="/static/js/general.js"></script>
<script src="/static/js/entries.js"></script>

</html>
