<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Entries | Challenge Council</title>
    <%- include ../partials/styles %>
    <link rel="stylesheet" type="text/css" href="/static/css/entries.css">
    <link rel="stylesheet" type="text/css" href="/static/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/previews.css">
    <link rel="stylesheet" type="text/css" href="/static/css/tables.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
</head>

<body>
    <%- include ../partials/header %>

    <div class="page-container">
        <div class="side-bar">
            <!-- Contests -->
            <img id="sidebar-spinner" src="/static/images/new-loading-spinner.svg" class="loading-spinner">
        </div>

        <div class="content-container" id="entry-list">
            <div class="content-header">
                <h2 id="entry-contest-name">
                    <img id="title-spinner" src="/static/images/new-loading-spinner.svg" class="loading-spinner small">
                    <!-- contest name -->
                </h2>
                <% if (is_admin) { %>
                <div>
                    <span id="import-entries-btn" class="admin-button" onclick="updateEntries(<%= contest_id %>)">Import Entries</span>
                    <span id="add-entry-btn" class="admin-button" onclick="addEntry(<%= contest_id %>)">Add Single Entry</span>
                    <span id="transfer-entries-btn" class="admin-button" onclick="showUpdateGroupsForm()">Update Groups</span>
                </div>
                <% } %>
            </div>
            <div class="previews-container">
                <div class="preview col-12 standard">
                    <div class="db-header">
                        <p>Entry stats</p>
                    </div>
                    <div class="preview-content">
                        <img id="entries-spinner" src="/static/images/new-loading-spinner.svg" class="loading-spinner">
                        <table id="entries-table">
                            <thead>
                                <th style="width: 8%">ID</th>
                                <th style="width: 20%">Title</th>
                                <th style="width: 20%">Author</th>
                                <% if (logged_in) { %>
                                <th style="width: 5%">Skill Level</th>
                                <% } %>
                                <th style="width: 15%">Created</th>
                                <% if (logged_in) { %>
                                <th style="width: 5%">Group</th>
                                <% } %>
                                <% if (is_admin) { %>
                                <th style="width: 3%">Actions</th>
                                <% } %>
                            </thead>
                            <tbody id="entries-table-body">
                                <!-- Entries -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <% if (is_admin) { %>
        <div class="content-container" id="edit-entry-page">
            <div class="content-header">
                <h2>Edit Entry</h2>
            </div>

            <form id="edit-entry-form" class="admin-form" onsubmit="return editEntry(event)">
                <div class="row">
                    <input type="hidden" id="edit_entry_id" name="edit_entry_id">
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="edit_entry_title">Title</label>
                    </div>
                    <div class="col-90">
                        <input class="form-input" type="text" id="edit_entry_title" name="edit_entry_title">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="edit_entry_author">Author</label>
                    </div>
                    <div class="col-90">
                        <input class="form-input" type="text" id="edit_entry_author" name="edit_entry_author">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="edit_entry_level">Skill Level</label>
                    </div>
                    <div class="col-90">
                        <select name="edit_entry_level">
                            <option value="tbd">TBD</option>
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Advanced">Advanced</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="edit_entry_group">Assigned Group</label>
                    </div>
                    <div class="col-90">
                        <select name="edit_entry_group" id="assigned-group-dropdown">
                            <option value="null">None</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="edit_flagged">Flagged</label>
                    </div>
                    <div class="col-10">
                        <input type="checkbox" id="edit_flagged" name="edit_flagged">
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <label for="edit_disqualified">Disqualified</label>
                    </div>
                    <div class="col-10">
                        <input type="checkbox" id="edit_disqualified" name="edit_disqualified">
                    </div>
                </div>
                <div class="row">
                    <input class="admin-button" type="submit" value="Save">
                </div>
            </form>
        </div>

        <div class="content-container" id="update-entry-groups-page">
            <div class="content-header">
                <h2>Update Entry Groups</h2>
            </div>

            <div class="previews-container">
                <div class="preview col-12 standard">
                    <div class="db-header">
                        <p>Create new group assignments</p>
                    </div>
                    <div class="preview-content">
                        <span id="assign-entries-btn" class="admin-button" onclick="assignEntries(<%= contest_id %>)">Assign All Entries To Groups</span>
                        <span id="assign-new-entries-btn" class="admin-button" onclick="assignNewEntries(<%= contest_id %>)">Assign New Entries To Groups</span>
                    </div>
                </div>
            </div>

            <div class="previews-container">
                <div class="preview col-12 standard">
                    <div class="db-header">
                        <p>Manage existing group assignments</p>
                    </div>
                    <div class="preview-content">
                        <form id="transfer-entries-form" class="admin-form" onsubmit="return transferEntries(event)">
                            <input type="hidden" name="contest_id" value="<%= contest_id %>"></input>
                            <div class="row">
                                <div class="col-10">
                                    <label for="current_entry_group">Current Group</label>
                                </div>
                                <div class="col-90">
                                    <select name="current_entry_group" id="current-group-dropdown">
                                        <option value="null">None</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-10">
                                    <label for="new_entry_group">New Group</label>
                                </div>
                                <div class="col-90">
                                    <select name="new_entry_group" id="new-group-dropdown">
                                        <option value="null">None</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <input class="admin-button" type="submit" value="Transfer Entry Groups">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div> <!-- Page content -->

    </div> <!-- Page container -->
    <%- include ../partials/footer %>
</body>
<script src="/static/js/general.js"></script>
<script src="/static/js/entries.js"></script>

</html>
