<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <title>Home | Challenge Council</title>
    <%- include ../partials/styles %>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/previews.css">
    <link rel="stylesheet" type="text/css" href="/static/css/forms.css">
</head>

<body>
    <%- include ../partials/header %>
    <div class="page-container">
        <div class="content-container">
            <!-- <div class="content-header">
                <h2>Home</h2>
            </div> -->
            <section id="message-section">
                <div id="create-message-container">
                    <div class="message-form-heading">
                        <h2>New Announcement:</h2>
                    </div>
                    <form id='create-message-form' class="admin-form" onSubmit="return addMessage(event)">
                        <div class='row'>
                            <div class='col-10'>
                                <label for='message_date'>Date</label>
                            </div>
                            <div class='col-90'>
                                <input type='text' id='message_date' class="form-input" name='message_date' placeholder='MM-DD-YYYY'>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-10'>
                                <label for='message_title'>Announcement Title</label>
                            </div>
                            <div class='col-90'>
                                <input type='text' id='message_title' class="form-input" name='message_title'>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-10'>
                                <label for='message_content'>Message</label>
                            </div>
                            <div class='col-90'>
                                <textarea id='message_content' class="form-input tall-message-input" name='message_content' maxlength='5000'></textarea>
                            </div>
                        </div>
                        <div class='row'>
                            <input class="admin-button" type='submit' value='Save'>
                        </div>
                    </form>
                </div>
                <div id="edit-message-container">
                    <div class='message-form-heading'>
                        <h2>Edit Announcement:</h2>
                    </div>
                    <form id='edit-message-form' class="admin-form" onSubmit="return editMessage(event)">
                        <div class='row'>
                            <div class='col-10'>
                                <input type='hidden' id='message_id' name='message_id'>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-10'>
                                <label for='message_date'>Date</label>
                            </div>
                            <div class='col-90'>
                                <input type='text' id='message_date' class="form-input" name='message_date' placeholder='MM-DD-YYYY' required>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-10'>
                                <label for='message_title'>Title</label>
                            </div>
                            <div class='col-90'>
                                <input type='text' id='message_title' class="form-input" name='message_title'>
                            </div>
                        </div>
                        <div class='row'>
                            <div class='col-10'>
                                <label for='message_content'>Message</label>
                            </div>
                            <div class='col-90'>
                                <textarea id='edit-message-content' class="form-input tall-message-input" name='message_content' maxlength='5000'></textarea>
                            </div>
                        </div>
                        <div class='row'>
                            <input type='submit' class="admin-button" value='Save'>
                        </div>
                    </form>
                </div>
                <div id="view-messages-container">
                    <div class="previews-container">
                        <div class="preview col-12 standard">
                            <div class="db-header">
                                <p>Announcements</p>
                                <%if (is_admin) { %>
                                <p class="admin-button" onclick="showCreateMessageForm()">New Announcement</p>
                                <% } %>
                            </div>
                            <div class="preview-content">
                                <% messages.forEach((c) => { %>
                                <div class="message-container">
                                    <div class="message-header">
                                        <h3>
                                            <%= c.message_title %>
                                        </h3>
                                    </div>
                                    <div class="message-content">
                                        <%- c.message_content.replace(/\n/g, '<br>') %>
                                    </div>
                                    <div class="message-bottom">
                                        <div class="message-options">
                                            <%if (is_admin) { %>
                                            <i class="control-btn far fa-edit" onclick="showEditMessageForm(<%= c.message_id %>, '<%= c.message_date %>', '<%= c.message_title %>', `<%= c.message_content %>`);"></i>
                                            <i class="control-btn red far fa-trash-alt" onclick="deleteMessage(<%= c.message_id %>)"></i>
                                            <% } %>
                                        </div>
                                        <div class="message-meta">
                                            <p class="message-author">By
                                                <%= c.message_author %>
                                            </p>
                                            <p class="message-date">Posted
                                                <%= c.message_date %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <%- include ../partials/footer %>
</body>
<script src="/static/js/general.js"></script>
<script src="/static/js/home.js"></script>

</html>
