<!DOCTYPE HTML>
<html>
    <head>
        <title>Judging | Challenge Council</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/static/css/judging.css">
        <link rel="stylesheet" type="text/css" href="/static/css/header.css">
        <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>
        <%- include ../partials/header %>

        <% if (entry.o_entry_id == -1) { %>
            <div id="all-judged-message">
                <h1>All entries evaluated!</h1>
                <p>Go check out [this page] to check current voting results.</p>
            </div>
        <% } else { %>
            <h1 id="entry-title"><%= entry.o_entry_title %></h1>
            <p id="entry-identifier"><%= entry.o_entry_id %></p>
            <img src="/static/images/new-loading-spinner.svg" id="loading-spinner">
            <iframe id="entry-viewer-iframe" src="<%= entry.o_entry_url + "/embedded" %>" height="<%= entry.o_entry_height + 4 %>"></iframe>

            <form id="entry-form" method="post" action="/api/judging" target="_self">
                <input name="entry_id" value="<%= entry.o_entry_id %>" style="display: none;"></input>
                <div id="sliders-container">
                    <div class="form-field-div">
                        <div class="sliderContainer" id="creativity-slider"></div>
                    </div>

                    <div class="form-field-div">
                        <div class="sliderContainer" id="complexity-slider"></div>
                    </div>

                    <div class="form-field-div">
                        <div class="sliderContainer" id="quality-code-slider"></div>
                    </div>

                    <div class="form-field-div">
                        <div class="sliderContainer" id="interpretation-slider"></div>
                    </div>
                </div>
                <select id="skill-selector" name="skill_level">
                    <option class="skill-option" value="Advanced">Advanced</option>
                    <option class="skill-option" value="Intermediate">Intermediate</option>
                    <option class="skill-option" value="Beginner">Beginner</option>
                </select>

                <input type="submit" id="submit-form-button" class="button green" value="Submit" ></input>
            </form>
            <script src="/static/js/judging.js"></script>
        <% } %>
    </body>
    <script src="/static/js/general.js"></script>
</html>
