<!DOCTYPE HTML>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Results | Challenge Council</title>
    <link rel="stylesheet" type="text/css" href="/static/css/results.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>
  <body>
    <%- include ../partials/header %>

    <div id="page-container">
      <div id="side-bar">
        <% contests.forEach((c) => { %>
          <a class="nav-button" href="<%= '/results/' + c.contest_id%>" %>"><%= c.contest_name%></a>
        <% }); %>
      </div>

      <div class="page-content" id="contest-results">
        <h1 id="content-header">Results for <%= contests[contest_id - 1].contest_name %></h1>

          <div class="preview-container standard">
            <p class="db-header">Entries scored per judge</p>
            <div class="preview-content">
              <table>
                <thead>
                  <th>Judge Name</th>
                  <th>Entries Scored</th>
                </thead>
                <tbody>
                  <% evaluationsPerEvaluator.forEach((a) => { %>
                    <tr>
                      <td><%= a.evaluator_name%></td>
                      <td><%= a.cnt + ' / ' + entryCount[0].count %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="preview-container standard">
            <p class="db-header">Entries scored per level</p>
            <div class="preview-content">
              <table>
                <thead>
                  <th>Level</th>
                  <th>Number of Entries</th>
                </thead>
                <tbody>
                  <% evaluationsPerLevel.forEach((a) => { %>
                    <tr>
                      <td><%= a.evaluation_level%></td>
                      <td><%= a.cnt %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="preview-container standard wide-box">
            <p class="db-header">Entries by average score</p>
            <div class="preview-content">
              <table>
                <thead>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Evaluations</th>
                  <th>Skill Level</th>
                  <th>Avg Score</th>
                </thead>
                <tbody>
                  <% entriesByAvgScore.forEach((a) => { %>
                    <tr>
                      <td><%= a.entry_id %></td>
                      <td><a href="<%= a.entry_url %>" target="_blank"><%= a.replace%></a></td>
                      <td><%= a.entry_author %></td>
                      <td><%= a.evaluations %></td>
                      <td><%= a.entry_level %></td>
                      <td><%= a.avg_score %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>

          <div class="preview-container standard wide-box">
            <p class="db-header">Selected Winners <%if (is_admin) { %><span class="add-winner-btn" onclick="addWinner('<%= contest_id %>');">Add Winner</span><% } %></p>
            <div class="preview-content">
              <table>
                <thead>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Skill Level</th>
                </thead>
                <tbody>
                  <% winners.forEach((a) => { %>
                    <tr>
                      <td><%= a.entry_id %></td>
                      <td><a href="<%= a.entry_url %>" target="_blank"><%= a.entry_title%></a></td>
                      <td><%= a.entry_author %></td>
                      <td><%= a.entry_level %></td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>


        </div> <!-- Page content -->

    </div> <!-- Page container -->
  </body>
  <script>
    var navButtons = document.getElementsByClassName('nav-button');
    navButtons[<%= contest_id %> - 1].classList.add('selected');
  </script>
  <script src="/static/js/general.js"></script>
  <script src="/static/js/results.js"></script>
</html>
